

footer{
  text-align: center;
  color: #000;
  height: 50px;
  margin-top: 35px;
  background-color: #fafafa;
}

.footer-copyright{
  background-color: #0600FF;
}

.footer-copyright p{
  text-align: left;
  margin-left: 20px;
  opacity: 1;
  color: #fff;
}

.fluid-container{
  background-color: #fafafa;
}

.py-3{
  padding-bottom: 15px;
  padding-bottom: -10px;
}

.text-uppercase h5{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.text-uppercase{
  font-weight: bold;
}

.footer-grey{
  background-color: #fafafa;
}
/*

footer p{

}

.col-sm-6 h2, p{
  opacity: 1;
  color: #000
}

.copyright-disclaimer p{
  color: #fff;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 0px;
  display: flex;
  align-items: flex-start;
}

.footer-container{
  background-color: #fafafa;
  height: 50px;
} /*
