footer{
  text-align: center;
  background-color: #efefef;
  color: #000;
  padding: 20px;
  height: 50px;
  margin-top: 35px;
}

footer p{
  margin: 0px;
  bottom: 5px;
  position: relative;
  vertical-align: middle;
}

.col-sm-6 h2, p{
  opacity: 1;
  color: #000
}
